venv/
node_modules/
*.pyc
__pycache__/
.env
.DS_Store
# Ignore node_modules
node_modules/*

# Ignore build or public folder except for frontend/public/cards/*
public/*
!frontend/public/cards/
dist/*
*.ipynb*