.card-table {
    display: grid;
    grid-template-areas:
        "empty north empty"
        "west empty east"
        "empty south empty"
        "empty annonce empty";
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr auto;
    height: 100vh;
    background-color: green;
    justify-items: center;
    align-items: center;
    position: relative;
}

.player {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.player.north {
    grid-area: north;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.player.south {
    grid-area: south;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.player.west {
    grid-area: west;
    left: 10%;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.player.east {
    grid-area: east;
    right: 10%;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

.annonce-container {
    grid-area: annonce;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.card {
    width: 60px;
    height: 90px;
    margin: 5px;
    padding: 0; /* Remove padding to fit the image properly */
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire card area */
    border-radius: 5px; /* Match the border radius of the card */
}

.rotated {
    transform: rotate(180deg);
}

.rotated-left {
    transform: rotate(90deg);
}

.rotated-right {
    transform: rotate(-90deg);
}